<h1>我要買 <%= @product.title %>！</h1>

訂單序號：<%= @order.slug %>

<%= form_with(model: @order,
              url: pay_order_path(@order),
              method: "patch",
              data: {
                controller: "payment-form",
                token: @token
              }) do |form| %>
  <%= form.submit '刷卡' %>
<% end %>

